<!DOCTYPE html>
<html>
<head>
  <title><%= yield (:title) %> | Kings Court HOA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Registration and login links-->
<p class="navbar-text pull-right">
  <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

  <!--Navigation-->
  <div id="heading" class="container">
    <row>
      <h1><span id="welcome1">Welcome Home </span></h1>
    </row>
    <row>
      <h1> <span id="welcome2"> to King's Court Condominiums</span></h1>
    </row>
    <h6> Welcome to the website for the King's Court Homeowners Association.  Please feel free to contact us with comments or suggestions.</h6>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to "Home", static_pages_home_path %></li>
          <li><%= link_to "About Us", static_pages_about_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%= link_to "Meet the Board", static_pages_board_path %></li>
          <li><%= link_to "Members", static_pages_members_path %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="panel-footer">
    Webmaster: Sheri Wilson
  </footer>
</body>
</html>
